.all-products-page {
    margin-left: 26rem;
    padding: 3rem 9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.product {
    width: 30rem;
    box-shadow: 0 0 5px 3px rgba(158, 150, 150, 0.7);
    border-radius: var(--border-radius);
    margin-left: 1rem;
}

.product-cantent {
    padding: 0.5rem 2rem;
}

.product-img {
    width: 28rem;
    height: 23rem;
    padding: 0.5rem;
    margin-left: 0.8rem;
    border-radius: 0 0 1rem 1rem;
}

.product-name {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1rem;
}

.toast-styling {
    color: black;
    text-align: center;
    border-top: 3px solid var(--logo-color);
    border-left: 3px solid var(--logo-color);
    border-right: 3px solid var(--logo-color);
    font-size: 1.3rem;
    font-weight: bold;

}

.rating-stuff {
    display: flex;
    justify-content: space-between;
    width: 25rem;
}

.card-pre-price {
    text-decoration: line-through;
    color: gray;
    /* font-weight:lighter; */
}

.addtocart-btn button {
    margin: 1rem 0rem;
    padding: 1rem 6rem;
}

.wislist-icon {
    color: red;
    font-size: 2.8rem;
    cursor: pointer;
    padding: 0.5rem
}

.cart-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}