.sidebar-container{
    width: fit-content;
    padding: 1rem 4rem 1rem 5rem;
    position: fixed;
    height: 60rem;
    overflow-x: hidden;
    overflow-y: auto;

}
.filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

}
.filter-price{
    font-size: 1.8rem;
}
.filters button{
    padding: 0.1rem 1rem;
    font-family: serif;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}
.price-case{
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    width: 18rem;
}
.price-case p{
    margin-left: 6rem;
}
.rating-case,
.category-case,
.price-sorting-case{
    margin-top: 0.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    font-size: 1.5rem;
}
.price-sorting-case{
    margin-bottom: 5rem;
}


