@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* @import url('https://fonts.googleapis.com/css?family=Poppins:900i'); */
.hero-image {
    max-width: 100%;
    height: 10%;
    display: block;
    margin: 0 auto;
    box-shadow:
        0 2.8px 2.2px rgba(205, 193, 193, 0.034),
        0 6.7px 5.3px rgba(202, 191, 191, 0.048),
        0 12.5px 10px rgba(110, 96, 96, 0.06),
        0 22.3px 17.9px rgba(165, 148, 148, 0.072),
        0 41.8px 33.4px rgba(129, 119, 119, 0.086),
        0 100px 80px rgba(151, 139, 139, 0.12);
    background: white;
    border-radius: 2px;
}

.hero-img-case {
    margin-top: 2rem;
    background-color: var(--backgrounds);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.brands-case,
.home-categories {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    flex-wrap: wrap;
    /* border:solid */
}

.uniq-img {
    height: 22rem;
    width: 24.7rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.category-desc {
    font-family: 'Playfair Display', serif;
    padding: 3rem 1rem;
    border-right: 15px solid var(--secondary-color);
    margin: 7rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.brand-desc {
    margin: 15rem 3rem 3rem 3rem;

}

.unique-brands {
    height: 15rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 10rem;

}

/* //Button  */
.button {
    border-radius: 4px;
    background-color: var(--logo-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width: 20rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -2rem;
    transition: 0.9s;
}

.button:hover span {
    padding-right: 2.5rem;
}

.button:hover span:after {
    opacity: 0.7;
    right: 0;
}