#address-form-case {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
    /* height: fit-content; */
    /* border:solid; */

    height: 60rem;

}

#address-form {
    width: 45rem;
    padding: 3rem 3rem 1.5rem 3rem;
    margin: 0;
}

.left-address-case {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1rem groove var(--logo-color);
    border-left: 1rem groove var(--logo-color);
    border-bottom: 4rem groove var(--logo-color);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 4rem 1rem 5rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 50rem;
    height: 61rem;
}

.address-case {
    height: fit-content;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    width: 40rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
}

.address-placehilder {
    text-align: left;
}

.address-value {
    text-align: left;
}

.delete-edit-case {
    margin: 1rem;

}

.delete-edit-btn {
    padding: 0.5rem 2rem;
    margin: 0 3rem;
    border: 2px groove var(--backgrounds);
    cursor: pointer;

}

.delete-address {
    color: red;
    font-weight: bold;
}

.edit-address {
    color: blue;
    font-weight: bold;
}