.footer-container {
    padding: 2rem;
    background-color: #3b0764;
    width: 100%;
}

.fotr-icons,
.fotr-texts {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 1.5rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;

}