.single-card {
    display: flex;
    width: 60rem;
    font-size: 1.5rem;
    box-shadow: 5px 5px 10px rgba(158, 150, 150, 0.7);
    height: fit-content;
    padding: 2rem;
    margin-bottom: 3rem;
}

.single-card-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-heading {
    font-size: 2.3rem;
    text-transform: uppercase;
}
.not-alowed{
    cursor: not-allowed;
    border: none;
    outline: none;
}
.not-alowed-btn{
    border: none;
    outline: none;
}
.single-card-img {
    height: 28rem;
    width: 35rem;
    border-right: 2px solid silver;
    box-shadow: 5px 5px 10px rgba(213, 201, 201, 0.7);
    border-radius: var(--border-radius);
}

.card-rightside {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 2.5rem;
    gap: 1.5rem;
}

.product-price p,
.product-quantity p {
    margin-top: 0.2rem;
}

.product-quantity,
.product-price {
    display: flex;
    gap: 1.4rem;
    cursor: pointer;
}
.product-quantity-in-wishlist{
    display: flex;
    border:solid;
    

}
.card-btn {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--logo-color);
    outline: none;
    background-color: var(--primary-color);
    padding: 1.2rem 1rem;
    cursor: pointer;
}

.remove-card-btn {
    background-color: var(--backgrounds);
    border: 2px solid var(--primary-color);
}

.qty-logo {
    color: var(--secondary-color);
    cursor: pointer;
}

.emapty-cart-img {
    height: 30rem;
    margin-top: 3rem;
    margin: 2rem 2rem 10rem 2rem;
}

.cart-case {
    text-align: center;
}

/*  */
.cart-page-detail-case {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    flex-wrap: wrap;
}

.card-price-detail {
    display: flex;
    top: 20%;
    gap: 1.5rem;
    flex-direction: column;
    box-shadow: 0 0 5px 3px rgba(158, 150, 150, 0.7);
    padding: 3.5rem;
    height: fit-content;
    position: sticky;
    border: 1rem solid var(--logo-color);
}

.coupon-case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.price-details {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 1.3rem;
    text-transform: uppercase;
    text-align: center;
}

.price-string-number {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    gap: 15rem;
    align-items: center;

}


.discount-price {
    color: #12ad12;
    text-transform: capitalize;
    text-align: center;
}
.checkout-products-hr{
    border-color: var(--primary-color);
}

.total-amount-case {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 0.6rem;
}

.checkout-btn {
    width: 34rem;
    color: var(--backgrounds);
    text-transform: uppercase;
    font-weight: bold;
}