
.form-container {
    display: flex;
    justify-content: center;
}
.login-form {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 40rem;
    gap: 0.4rem;
}
.signup-form{
    
    gap:1rem
}

.form-text {
    text-align: center;
    margin-top: -2rem;
}

.login-btns {
    margin-top: 2.5rem;
}
.login-btns,
.form-inp {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    outline:none ;
}
.login-btns{
    background-color: var(--logo-color);
    padding: 0.7rem;
    cursor: pointer;
}

.form-lable,
p {
    margin-top: 1rem;
    font-size: 1.5rem;
}