.modal-case {

    background-color: rgba(17, 16, 16, 0.347);
    margin-top: -30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    flex-direction: column;
    /* height: 30rem; */

}

.order-place-message {
    background-color: white;
    color: black;
    padding: 1rem;

}

.modal-close {
    border-radius: 4px;
    background-color: var(--backgrounds);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    border: none;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 15rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}